.container {
    margin: 20px auto;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
  }
  
  .field {
    border: 3px solid black;
    width: 700px;
    height: 500px;
    position: relative;
    background-image: url('https://wallpapers.com/images/hd/soccer-field-background-1920-x-1080-v1ms70i39l96fqvr.jpg');
    background-size: cover; /* ทำให้ภาพเต็มพื้นที่ */
    background-position: center; /* จัดให้อยู่กลาง */
    background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
  }
  
  #ball {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 120%;
    background-position: center;
    background-color: white;
  }
  
  .control {
    margin-top: 20px;
  }
  
  button {
    margin: 5px;
  }
  