.components-container {
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    min-width: 800px;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 0.5rem;
    
    background-image: url('https://wallpapers.com/images/hd/galaxy-space-background-1920-x-1440-3ggp6gevxt10tg9e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .name{
    text-align: center;
    color: rgb(14, 14, 14);
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    width: 400px;
    margin: 10px auto;
   
  
  }
  
  .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 0.5rem;
    padding: 0.5rem;
  }
  
  .item3{
    grid-column: span 3;
  }
  
  .item2{
    grid-column: span 2 ;
    margin-left: 0;
  }
  /* .ab > span{
    text-align: center;
    padding: 0;
    margin: 0;
  } */
  
  
  
  /* .span{
    display: flex;
    justify-content: space-around;
  }
  
  .span span{
    pointer-events: none;
  }
  
  .cc span{
    text-align: center;
    padding: 0;
    margin: 0;
  } */
  