* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f19090;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 320px;
    background-color: #333;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.calculator:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 2.5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.2);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator-keys button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #333;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

#backspace {
    background-color: #2d89ef;
    color: white;
}

.calculator-keys button:hover {
    background-color: #d1d1d1;
    transform: scale(1.1);
}

.calculator-keys button:active {
    background-color: #c63d3d;
}

.calculator-keys button.operator {
    background-color: #87ed83;
    color: white;
}

.calculator-keys button.operator:hover {
    background-color: #ff9200;
}

.calculator-keys button.equal-sign {
    background-color: #2d89ef;
    color: white;
    grid-column: 4;
    grid-row: 4 / span 2;
}

.calculator-keys button.equal-sign:hover {
    background-color: #2373d4;
}

.calculator-keys button.all-clear {
    background-color: #ff4b5c;
    color: white;
}

.calculator-keys button.all-clear:hover {
    background-color: #e04353;
}

#zero {
    grid-column: 1 / span 2;
}
